@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spectral SC";
  src: url("fonts/SpectralSC-Regular.eot");
  src: local("fonts/Spectral SC Regular"), local("SpectralSC-Regular"), url("fonts/SpectralSC-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SpectralSC-Regular.woff") format("woff"), url("fonts/SpectralSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spectral SC";
  src: url("fonts/SpectralSC-Bold.eot");
  src: local("fonts/Spectral SC Bold"), local("SpectralSC-Bold"), url("fonts/SpectralSC-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/SpectralSC-Bold.woff") format("woff"), url("fonts/SpectralSC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GolosTextWebRegular";
  src: url("fonts/Golos%20Text_Regular.eot");
  src: url("fonts/Golos%20Text_Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Golos%20Text_Regular.woff2") format("woff2"), url("fonts/Golos%20Text_Regular.woff") format("woff"), url("fonts/Golos%20Text_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 27px;
  color: #1C1515;
  font-weight: 400;
  max-width: 2560px;
  -webkit-font-smoothing: antialiased;
}

*:before *:after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.wrapper {
  padding: 0 20%;
}

a {
  cursor: pointer;
}

.text_color {
  color: #94796A;
}

.btn-main {
  position: relative;
  background: linear-gradient(60deg, #506375 0%, #8DA8C2 100%);
  border-radius: 10px;
  cursor: pointer;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  font-weight: 400;
  padding: 18px 48px 20px 48px;
  border: none;
}
.btn-main:active, .btn-main:focus {
  outline: none;
}
.btn-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, #506375 0%, #8DA8C2 100%);
  transition: 0.9s linear all;
  opacity: 0;
  border-radius: 10px;
}
.btn-main:hover:before {
  opacity: 1;
}
.btn-main span {
  position: relative;
  z-index: 1;
}

main {
  width: 100%;
  height: auto;
  background: url(img/bg_2650.png) no-repeat;
}
main header {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #1C1515;
  font-weight: 400;
  padding-top: 9px;
}
main header .header-inner {
  display: grid;
  grid-template-columns: 5fr 2.5fr 1.5fr 0.3fr 0.3fr 1.5fr;
  grid-column-gap: 24px;
}
main header .header-inner .header__logo .header__logo__text {
  margin-left: 16px;
}
main header .header-inner .header__location svg path:hover {
  fill: #506375;
  transition: fill 300ms ease-in-out;
}
main header .header-inner .header__location .header__location__text {
  margin-left: 9px;
}
main header .header-inner .header__email svg:hover rect {
  fill: #506375;
  transition: fill 300ms ease-in-out;
}
main header .header-inner .header__email .header__email__link p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #6E8499;
  font-weight: 400;
  border-bottom: 1px solid #6E8499;
  padding-bottom: 2px;
  margin: 3px 0 0 10px;
}
main header .header-inner .header__email .header__email__link p:hover {
  color: #506375;
  border-color: #506375;
}
main header .header-inner .header__tg svg:hover rect {
  fill: #506375;
  transition: fill 300ms ease-in-out;
}
main header .header-inner .header__wt svg:hover rect {
  fill: #506375;
  transition: fill 300ms ease-in-out;
}
main header .header-inner .header__phone .m-320 {
  display: none;
}
main header .header-inner .header__phone svg:hover rect {
  fill: #506375;
  transition: fill 300ms ease-in-out;
}
main header .header-inner .header__phone .header__phone__call p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #6E8499;
  font-weight: 400;
  border-bottom: 1px solid #6E8499;
  padding-bottom: 2px;
  margin-left: 50px;
}
main header .header-inner .header__phone .header__phone__call p:hover {
  color: #506375;
  border-color: #506375;
}
main .main__block {
  margin-top: 100px;
}
main .main__block .main__block__text {
  width: 45%;
}
main .main__block .main__block__text .main__block__title {
  margin-bottom: 44px;
}
main .main__block .main__block__text .main__block__title h1 {
  font-family: "Spectral SC";
  font-size: 56px;
  line-height: 64px;
  color: #1C1515;
  font-weight: 600;
}
main .main__block .main__block__text .main__block__title .style_text {
  font-size: 32px;
  margin-left: 20px;
}
main .main__block .main__block__text .main__block__subtitle {
  position: relative;
  width: 85%;
}
main .main__block .main__block__text .main__block__subtitle h5 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 27px;
  color: #1C1515;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 24px;
}
main .main__block .main__block__text .main__block__subtitle span {
  font-weight: 600;
}
main .main__block .main__block__text .main__block__subtitle .rest {
  position: relative;
  z-index: 2;
}
main .main__block .main__block__text .main__block__subtitle .rest::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 44px;
  height: 17px;
  border-radius: 8px;
  background-color: #DDD4CF;
  left: -19px;
  top: 3px;
}
main .main__block .main__block__text .main__block__button {
  margin-top: 65px;
}
main .main__block .main__block__navigation {
  margin-top: 87px;
  width: 54%;
}
main .main__block .main__block__navigation nav .nav-link {
  position: relative;
  cursor: pointer;
  background: url(img/nav_block.svg) no-repeat;
  height: 168px;
  width: 263px;
  transition: 0.5s ease-in-out all;
}
main .main__block .main__block__navigation nav .nav-link:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out all;
}
main .main__block .main__block__navigation nav .nav-link .nav-link__title {
  position: absolute;
  top: 90px;
  left: 91px;
}
main .main__block .main__block__navigation nav .nav-link .nav-link__title h6 {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #B3998B;
  font-weight: 400;
}
main .main__block .main__block__navigation nav .nav-link .nav-link__number {
  position: absolute;
  bottom: -27px;
  right: 51px;
}
main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
  font-family: "GolosTextWebRegular";
  font-size: 83px;
  line-height: 111px;
  color: #DDD4CF;
  font-weight: 400;
}
main .main__block .main__block__navigation nav .second {
  margin-left: -95px;
}
main .arm {
  margin-left: -9px;
  margin-top: -300px;
  background: url(img/рука.png);
  height: 700px;
  width: 800px;
  z-index: 100;
}
main .animate__animated.animate__fadeInTopLeft {
  --animate-duration: 4s;
}

.about {
  margin-top: -200px;
}
.about .about_content {
  margin: 0 0 46.9px 0;
}
.about .about_content .about_content-title {
  text-align: center;
  padding: 0 0 73px 0;
  font-family: "Spectral SC";
  font-size: 40px;
  line-height: 64px;
  color: #000;
  font-weight: 700;
}
.about .about_content .about_content-form {
  display: grid;
  grid-template-columns: repeat(4, 328px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.about .about_content .about_content-form .form_intro .form_intro-text {
  width: 100%;
  height: 100%;
}
.about .about_content .about_content-form .form_intro .form_intro-text .form_intro-title {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 27px;
  color: #94796A;
  font-weight: 700;
}
.about .about_content .about_content-form .form_intro .form_intro-text .form_intro-subtitle {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #000;
  font-weight: 400;
}
.about .about_content .about_content-form .form_intro:nth-child(1) .form_intro-text {
  background: url(img/About/замерщик.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(1) .form_intro-text .form_intro-title {
  padding: 29px 0 13px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(1) .form_intro-text .form_intro-subtitle {
  padding: 0 59px 115px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(2) .form_intro-text {
  background: url(img/About/производство2.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(2) .form_intro-text .form_intro-title {
  padding: 29px 0 13px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(2) .form_intro-text .form_intro-subtitle {
  padding: 0 33px 115px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(3) .form_intro-text {
  background: url(img/About/производство.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(3) .form_intro-text .form_intro-title {
  padding: 29px 0 16px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(3) .form_intro-text .form_intro-subtitle {
  padding: 0 47px 126.6px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(4) .form_intro-text {
  background: url(img/About/10.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(4) .form_intro-text .form_intro-title {
  padding: 29px 0 16px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(4) .form_intro-text .form_intro-subtitle {
  padding: 0 55px 126.6px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(5) .form_intro-text {
  background: url(img/About/менеджер.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(5) .form_intro-text .form_intro-title {
  padding: 29px 0 16px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(5) .form_intro-text .form_intro-subtitle {
  padding: 0 152px 128.6px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(6) .form_intro-text {
  background: url(img/About/сроки.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(6) .form_intro-text .form_intro-title {
  padding: 29px 0 13px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(6) .form_intro-text .form_intro-subtitle {
  padding: 0 150px 122.6px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(7) .form_intro-text {
  background: url(img/About/сертификаты.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(7) .form_intro-text .form_intro-title {
  padding: 29px 0 16px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(7) .form_intro-text .form_intro-subtitle {
  padding: 0 88px 138.6px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(8) .form_intro-text {
  background: url(img/About/гарантия.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(8) .form_intro-text .form_intro-title {
  padding: 29px 14px 16px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(8) .form_intro-text .form_intro-subtitle {
  padding: 0 14px 82.6px 32px;
}
.about .about_content .about_content-form .form_intro:nth-child(odd) {
  background: url(img/About/About_odd.svg) no-repeat center;
}
.about .about_content .about_content-form .form_intro:nth-child(even) {
  background: url(img/About/About_edd.svg) no-repeat center;
}

.product {
  background: url(img/product/product_BG2560.svg) no-repeat center;
}
.product .product_content {
  padding: 0 80px;
}
.product .product_content .product_content-more {
  text-align: center;
  padding: 22px 0 20px 0;
}
.product .product_content .product_content-more a {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #6E8499;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #6E8499;
}
.product .product_content .product_content-more a::before {
  margin: 5px 0 0 -27px;
  content: "";
  position: absolute;
  background: url(img/product_content-more.svg) no-repeat;
  width: 17px;
  height: 20px;
}
.product .product_content .product_content-title {
  font-family: "Spectral SC";
  font-size: 40px;
  line-height: 48px;
  color: #000;
  font-weight: 700;
  padding: 64.1px 0 8px 0;
  text-align: center;
}
.product .product_content .product_content-subtitle {
  font-family: "Spectral SC";
  font-size: 24px;
  line-height: 54px;
  color: #000;
  font-weight: 700;
  padding: 0 0 37px 0;
  text-align: center;
}
.product .product_content .product_content-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 8px;
}
.product .product_content .product_content-form .form_product {
  border-radius: 10px;
  background: transparent;
  transition: all 0.7s linear;
}
.product .product_content .product_content-form .form_product:hover {
  background: #fff;
  transition: all 0.7s linear;
}
.product .product_content .product_content-form .form_product:hover .form_product-title {
  color: #94796A;
  transition: all 0.3s linear;
}
.product .product_content .product_content-form .form_product img {
  padding: 40px 40px 0 40px;
  width: -webkit-fill-available;
}
.product .product_content .product_content-form .form_product .form_product-title {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 27px;
  color: #000;
  font-weight: 700;
  padding: 21px 52px 4px 41px;
  transition: all 0.3s linear;
}
.product .product_content .product_content-form .form_product .form_product-subtitle {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #000;
  font-weight: 400;
  padding: 0 41px 32px 41px;
}
.product .product_content .product_content-form .form_product .btn {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  font-weight: 400;
  padding: 18px 135px 20px 130px;
  border-radius: 10px;
  border: none;
  margin: 0 0 40px 40px;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  background: linear-gradient(to bottom, #506375, #8da8c2);
  position: relative;
  transition: opacity 0.9s;
  outline: none;
}
.product .product_content .product_content-form .form_product .btn span {
  position: relative;
  z-index: 1;
}
.product .product_content .product_content-form .form_product .btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: linear-gradient(to top, #506375, #8da8c2);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.9s;
}
.product .product_content .product_content-form .form_product .btn:hover:after {
  opacity: 1;
}

@media (max-width: 1920px) {
  .wrapper {
    padding: 0 13%;
  }

  main {
    background: url(img/main_bg.png) no-repeat;
  }

  .about {
    margin-top: -180px;
  }

  .product {
    background: url(img/product/product_BG1920.svg) no-repeat center;
  }
}
@media (max-width: 1800px) {
  main header .header-inner {
    grid-template-columns: 5fr 1.7fr 1.5fr 0.3fr 0.3fr 1.5fr;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 52px;
    line-height: 64px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 31px;
    margin-left: 10px;
  }
  main .main__block .main__block__navigation nav .nav-link {
    background-size: 120%;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 80px;
    left: 80px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: -8%;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
    font-family: "GolosTextWebRegular";
    font-size: 81px;
    line-height: 111px;
    color: #DDD4CF;
    font-weight: 400;
  }

  .product .product_content {
    padding: 0 37px;
  }
  .product .product_content .product_content-title {
    padding: 40.1px 0 8px 0;
  }

  .about .about_content .about_content-form {
    grid-column-gap: 26px;
    grid-row-gap: 26px;
  }
  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text .form_intro-title {
    padding: 29px 0 13px 22px;
  }
  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text .form_intro-subtitle {
    padding: 0 59px 100px 22px;
  }
}
@media (max-width: 1751px) {
  .wrapper {
    padding: 0 10.2857142857%;
  }

  .about .about_content .about_content-title {
    padding: 0 0 60px 0;
  }
  .about .about_content .about_content-form {
    grid-template-columns: repeat(4, 322px);
  }
  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text .form_intro-title {
    padding: 29px 4px 13px 22px;
  }

  .product .product_content .product_content-title {
    padding: 50.1px 0 8px 0;
  }
  .product .product_content .product_content-form .form_product img {
    padding: 30px 30px 0 30px;
  }
  .product .product_content .product_content-form .form_product .form_product-title {
    padding: 21px 52px 4px 31px;
  }
  .product .product_content .product_content-form .form_product .form_product-subtitle {
    padding: 0 41px 32px 31px;
  }
  .product .product_content .product_content-form .form_product .btn {
    margin: 0 0 30px 30px;
    padding: 18px 125px 20px 120px;
  }
}
@media (max-width: 1650px) {
  main header .header-inner {
    grid-template-columns: 5fr 1.7fr 1.5fr 0.3fr 0.3fr 1.5fr;
  }
  main header .header-inner .header__logo .header__logo__text {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #1C1515;
    font-weight: 400;
  }
  main header .header-inner a.header__location .header__location__text {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #1C1515;
    font-weight: 400;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 48px;
    line-height: 64px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 28px;
  }
  main .main__block .main__block__navigation {
    margin-top: 103px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 75px;
    left: 75px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title h6 {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #B3998B;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: -6%;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
    font-family: "GolosTextWebRegular";
    font-size: 78px;
    line-height: 111px;
    color: #DDD4CF;
    font-weight: 400;
  }
  main .arm {
    margin-top: -233px;
  }

  .about .about_content .about_content-title {
    padding: 0 0 50px 0;
  }
  .about .about_content .about_content-form {
    grid-template-columns: repeat(4, 324px);
    grid-column-gap: 26px;
    grid-row-gap: 26px;
  }
  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text .form_intro-title {
    padding: 29px 6px 13px 22px;
  }

  .product .product_content {
    padding: 0 5px;
  }
}
@media (max-width: 1600px) {
  .about .about_content {
    margin: 0 0 20.9px 0;
  }
  .about .about_content .about_content-title {
    text-align: center;
    padding: 0 0 73px 0;
    font-family: "Spectral SC";
    font-size: 40px;
    line-height: 64px;
    color: #000;
    font-weight: 700;
  }
  .about .about_content .about_content-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .product .product_content {
    padding: 0 0px;
    margin: 0 0 0 -40px;
  }
  .product .product_content .product_content-title {
    padding: 10.1px 0 8px 0;
  }
  .product .product_content .product_content-subtitle {
    padding: 0 0 66px 0;
  }
}
@media (max-width: 1500px) {
  main header .header-inner {
    grid-template-columns: 5fr 1.7fr 1.5fr 0.3fr 0.3fr 1.5fr;
    grid-column-gap: 15px;
  }
  main .main__block .main__block__text .main__block__title {
    margin-bottom: 35px;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 46px;
    line-height: 58px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 25px;
    margin-left: 5px;
  }
  main .main__block .main__block__navigation {
    margin-top: 116px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 70px;
    left: 70px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title h6 {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #B3998B;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: -2%;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
    font-family: "GolosTextWebRegular";
    font-size: 65px;
    line-height: 111px;
    color: #DDD4CF;
    font-weight: 400;
  }

  .product .product_content .product_content-title {
    padding: 10.1px 0 0px 0;
  }
  .product .product_content .product_content-subtitle {
    padding: 0 0 70px 0;
  }
  .product .product_content .product_content-form {
    grid-template-columns: repeat(3, 400px);
    margin: 0 78px 0 78px;
  }
}
@media (max-width: 1400px) {
  .wrapper {
    padding: 0 7.8125%;
  }

  main header .header-inner {
    grid-template-columns: 5fr 0.3fr 1.5fr 0.3fr 0.3fr 1.5fr;
  }
  main header .header-inner a.header__location .header__location__text {
    display: none;
  }
  main .arm {
    margin-left: -60px;
    margin-top: -200px;
    background: url(img/рука.png) no-repeat;
  }

  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text .form_intro-title {
    padding: 10px 6px 13px 22px;
  }

  .product .product_content .product_content-title {
    padding: 10.1px 0 0px 0;
  }
  .product .product_content .product_content-subtitle {
    padding: 0 0 70px 0;
  }
  .product .product_content .product_content-form {
    grid-template-columns: repeat(3, 389px);
    margin: 0 30px 0 30px;
  }
  .product .product_content .product_content-form .form_product .form_product-title {
    font-family: "GSpectral SC";
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-weight: 700;
  }
}
@media (max-width: 1300px) {
  .about .about_content .about_content-form {
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 52px;
    grid-row-gap: 52px;
  }
  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text .form_intro-title {
    padding: 10px 12px 13px 22px;
  }

  .product .product_content .product_content-title {
    padding: 10.1px 0 0px 0;
  }
  .product .product_content .product_content-subtitle {
    padding: 0 0 70px 0;
  }
  .product .product_content .product_content-form {
    grid-template-columns: repeat(3, 350px);
    margin: 0 30px 0 30px;
  }
  .product .product_content .product_content-form .form_product img {
    padding: 10px 10px 0 10px;
  }
  .product .product_content .product_content-form .form_product .form_product-title {
    padding: 21px 52px 4px 11px;
  }
  .product .product_content .product_content-form .form_product .form_product-subtitle {
    padding: 0 41px 20px 11px;
  }
  .product .product_content .product_content-form .form_product .btn {
    margin: 0 0 30px 10px;
  }
}
@media (max-width: 1280px) {
  main .main__block .main__block__text .main__block__title {
    margin-bottom: 32px;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 43px;
    line-height: 55px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 70px;
    left: 70px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title h6 {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #B3998B;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: -2%;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
    font-family: "GolosTextWebRegular";
    font-size: 65px;
    line-height: 111px;
    color: #DDD4CF;
    font-weight: 400;
  }
  main .arm {
    margin-left: -29px;
    margin-top: -162px;
    background: url(img/рука.png) no-repeat;
  }

  .about .about_content .about_content-form {
    grid-column-gap: 44px;
    grid-row-gap: 44px;
  }
  .about .about_content .about_content-form .form_intro:nth-child(1n) .form_intro-text {
    height: 264px;
  }

  .product .product_content .product_content-form {
    margin: 0 22px 0 22px;
  }
}
@media (max-width: 1024px) {
  main {
    background: url(img/фон.png) no-repeat;
  }
  main header .header-inner {
    grid-template-columns: 5fr 0.3fr 0.3fr 0.3fr 0.3fr 1.5fr;
    grid-column-gap: 10px;
  }
  main header .header-inner .header__logo .header__logo__text {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #1C1515;
    font-weight: 400;
  }
  main .main__block .main__block__text .main__block__title {
    margin-bottom: 20px;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 34px;
    line-height: 40px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 20px;
    margin-left: 1px;
  }
  main .main__block .main__block__text .main__block__subtitle h5 {
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 20px;
    color: #1C1515;
    font-weight: 400;
    margin-bottom: 15px;
  }
  main .main__block .main__block__navigation {
    margin-top: 78px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 45px;
    left: 50px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title h6 {
    font-family: "Gilroy";
    font-size: 13px;
    line-height: 21px;
    color: #B3998B;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: 12%;
    right: 49px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
    font-family: "GolosTextWebRegular";
    font-size: 50px;
    line-height: 111px;
    color: #DDD4CF;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .second {
    margin-left: -75px;
  }
  main .arm {
    margin-left: -13px;
    margin-top: -118px;
    background-size: 90%;
  }

  .about {
    margin-top: -275px;
  }
  .about .about_content {
    margin: 0 75px 46.9px 75px;
  }
  .about .about_content .about_content-title {
    padding: 0 0 50px 0;
  }
  .about .about_content .about_content-form {
    grid-template-columns: repeat(2, 330px);
    grid-template-rows: repeat(4, 1fr);
  }

  .product {
    background: url(img/product/product_BG1024.svg);
  }
  .product .product_content .product_content-title {
    padding: 0;
    font-family: "Spectral SC";
    font-size: 40px;
    line-height: 40px;
    color: #1C1515;
    font-weight: 600;
  }
  .product .product_content .product_content-subtitle {
    padding: 0 0 45px 0;
    font-family: "Spectral SC";
    font-size: 21px;
    line-height: 34px;
    color: #1C1515;
    font-weight: 600;
  }
  .product .product_content .product_content-form {
    grid-template-columns: repeat(2, 350px);
    margin: 0 95px 0 95px;
  }
  .product .product_content .product_content-form .form_product img {
    width: 80%;
    padding: 20px 34px 0 35px;
  }
  .product .product_content .product_content-form .form_product .form_product-title {
    padding: 21px 52px 4px 36px;
  }
  .product .product_content .product_content-form .form_product .form_product-subtitle {
    padding: 0 41px 20px 36px;
  }
  .product .product_content .product_content-form .form_product .btn {
    margin: 0 0 30px 35px;
    padding: 18px 100px 20px 100px;
  }
}
@media (max-width: 771px) {
  main {
    background: url(img/bg_771.png) no-repeat;
  }
  main header .header-inner {
    grid-template-columns: 1.5fr 0.3fr 0.3fr 0.3fr 0.3fr 1.5fr;
    grid-column-gap: 5px;
  }
  main header .header-inner .header__logo .header__logo__text {
    display: none;
  }
  main header .header-inner a.header__email .header__email__link {
    display: none;
  }
  main .main__block {
    margin-top: 50px;
  }
  main .main__block .main__block__text .main__block__title {
    margin-bottom: 20px;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 26px;
    line-height: 35px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 17px;
    margin-left: 3px;
  }
  main .main__block .main__block__text .main__block__subtitle h5 {
    font-family: "Gilroy";
    font-size: 15px;
    line-height: 20px;
    color: #1C1515;
    font-weight: 400;
    margin-bottom: 10px;
  }
  main .main__block .main__block__text .main__block__button .btn-main {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    padding: 15px 40px 15px 44px;
  }
  main .main__block .main__block__navigation {
    margin-top: 63px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 29px;
    left: 36px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title h6 {
    font-family: "Gilroy";
    font-size: 13px;
    line-height: 21px;
    color: #B3998B;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: 27%;
    right: 49px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number h2 {
    font-family: "GolosTextWebRegular";
    font-size: 47px;
    line-height: 111px;
    color: #DDD4CF;
    font-weight: 400;
  }
  main .main__block .main__block__navigation nav .second {
    margin-left: -60px;
  }
  main .arm {
    margin-left: -50px;
    margin-top: -150px;
  }

  .about .about_content {
    margin: 0 0px 46.9px 0px;
  }
  .about .about_content .about_content-title {
    padding: 0 0 40px 0;
  }
  .about .about_content .about_content-form {
    grid-template-columns: repeat(2, 300px);
  }

  .product {
    background: url(img/product/product_BG771.svg) no-repeat;
  }
  .product .product_content .product_content-title {
    font-family: "Spectral SC";
    font-size: 32px;
    line-height: 32px;
    color: #1C1515;
    font-weight: 600;
  }
  .product .product_content .product_content-subtitle {
    padding: 0 0 35px 0;
    font-family: "Spectral SC";
    font-size: 16px;
    line-height: 15px;
    color: #1C1515;
    font-weight: 600;
  }
  .product .product_content .product_content-form {
    grid-template-columns: repeat(2, 303px);
    margin: 0 35px 0 35px;
  }
  .product .product_content .product_content-form .form_product img {
    width: 80%;
    padding: 20px 34px 0 35px;
  }
  .product .product_content .product_content-form .form_product .form_product-title {
    padding: 5px 52px 4px 36px;
  }
  .product .product_content .product_content-form .form_product .form_product-subtitle {
    padding: 0 41px 10px 36px;
  }
  .product .product_content .product_content-form .form_product .btn {
    margin: 0 0 30px 35px;
    padding: 15px 70px 15px 70px;
  }
}
@media (max-width: 500px) {
  main {
    background: url(img/bg_500.png) no-repeat;
  }
  main header .header-inner {
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 15px;
  }
  main header .header-inner a.header__tg {
    display: none;
  }
  main header .header-inner a.header__wt {
    display: none;
  }
  main header .header-inner a.header__email {
    display: none;
  }
  main header a.header__location {
    display: none;
  }
  main .main__block {
    margin-top: 50px;
  }
  main .main__block .main__block__text {
    width: 66%;
  }
  main .main__block .main__block__text .main__block__title {
    margin-bottom: 20px;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 24px;
    line-height: 30px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 15px;
    margin-left: 3px;
  }
  main .main__block .main__block__text .main__block__subtitle h5 {
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 25px;
    color: #1C1515;
    font-weight: 400;
    margin-bottom: 10px;
  }
  main .main__block .main__block__text .main__block__button {
    margin-top: 39px;
  }
  main .main__block .main__block__text .main__block__button .btn-main {
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    padding: 15px 19px 15px 19px;
  }
  main .main__block .main__block__navigation {
    width: 30%;
    margin-top: -27px;
  }
  main .main__block .main__block__navigation nav {
    display: block;
  }
  main .main__block .main__block__navigation nav .nav-link {
    background-size: 63%;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__title {
    top: 29px;
    left: 36px;
  }
  main .main__block .main__block__navigation nav .nav-link .nav-link__number {
    bottom: 28%;
    left: 100px;
  }
  main .main__block .main__block__navigation nav .second {
    margin-left: 0px;
    margin-top: -114px;
  }
  main .arm {
    margin-left: -30px;
    margin-top: -107px;
    background-size: 60%;
  }

  .about {
    margin-top: -390px;
  }
  .about .wrapper {
    padding: 0 0.8%;
  }
  .about .about_content .about_content-title {
    font-family: "Spectral SC";
    font-size: 33px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
  }
  .about .about_content .about_content-form {
    grid-template-columns: repeat(2, 240px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .product {
    background: url(img/product/product_BG550.svg) no-repeat;
    background-size: cover;
  }
  .product .product_content .product_content-title {
    font-family: "Spectral SC";
    font-size: 20px;
    line-height: 18px;
    color: #000;
    font-weight: 700;
  }
  .product .product_content .product_content-subtitle {
    font-family: "Spectral SC";
    font-size: 12px;
    line-height: 13px;
    color: #000;
    font-weight: 700;
    padding: 0 0 30px 0;
  }
  .product .product_content .product_content-form {
    grid-template-columns: repeat(1, 303px);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    margin: 0 75px 0 84px;
  }
  .product .product_content .product_content-more {
    padding: 10px 0 20px 0;
  }
}
@media (max-width: 361px) {
  main {
    background: url(img/bg_360.png) no-repeat;
  }
  main header .header-inner {
    grid-template-columns: 1.5fr 0.3fr;
    grid-column-gap: 50px;
  }
  main header .header-inner a.header__phone .m-1920 {
    display: none;
  }
  main header .header-inner a.header__phone .m-320 {
    display: block;
    margin-top: 10px;
  }
  main header .header-inner a.header__phone .header__phone__call {
    display: none;
  }
  main .main__block {
    margin-top: 50px;
  }
  main .main__block .main__block__text {
    width: 58%;
  }
  main .main__block .main__block__text .main__block__title h1 {
    font-family: "Spectral SC";
    font-size: 15px;
    line-height: 22px;
    color: #1C1515;
    font-weight: 600;
  }
  main .main__block .main__block__text .main__block__title .style_text {
    font-size: 10px;
    margin-left: 3px;
  }
  main .main__block .main__block__text .main__block__subtitle h5 {
    margin-left: 5px;
    font-family: "Gilroy";
    font-size: 12px;
    line-height: 20px;
    color: #1C1515;
    font-weight: 400;
  }
  main .main__block .main__block__text .main__block__button .btn-main {
    font-family: "Gilroy";
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    padding: 8px 6px 8px 6px;
  }
  main .main__block .main__block__navigation {
    margin-left: 0.125%;
    width: 36%;
    margin-top: -27px;
  }
  main .arm {
    margin-left: -30px;
    margin-top: -76px;
    background-size: 40%;
  }

  .about {
    margin-top: -470px;
  }
  .about .wrapper {
    padding: 0 5.625%;
  }
  .about .about_content {
    margin: 0 0px 20.9px 0px;
  }
  .about .about_content .about_content-title {
    font-family: "Spectral SC";
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-weight: 700;
    padding: 0 0 20px 0;
  }
  .about .about_content .about_content-form {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin: 0 10px;
  }

  .product {
    background: url(img/product/product_BG360.svg) no-repeat;
  }
  .product .wrapper {
    padding: 0 6.625%;
  }
  .product .product_content {
    padding: 0 0px;
    margin: 0 0 0 0px;
  }
  .product .product_content .product_content-title {
    font-family: "Spectral SC";
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-weight: 700;
  }
  .product .product_content .product_content-subtitle {
    font-family: "Spectral SC";
    font-size: 15px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    padding: 0 0 30px 0;
  }
  .product .product_content .product_content-form {
    margin: 0 0px 0 5px;
  }
}